@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #A7A4A5;
  text-decoration: none;
}

a:hover {
  color: #cc9744;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  border-radius: 5px;
}

/*меню*/
.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}
.header__card {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__card-item .total_count {
  margin-left: 4px;
}
.header__card-item:first-child {
  margin-right: 40px;
}
.header__card-item svg {
  margin-right: 11px;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-size: calc(12px + 3 * (100vw - 400px) / 1920);
}
.header__menu-item {
  padding: 0 13px 0 13px;
}

.dropdown__item {
  color: #000;
  background: #D9D9D9;
  padding: 6px 11px;
  border: 0.1px solid #3d3137;
}
.dropdown__item:hover {
  background: -o-linear-gradient(239deg, #C38B34 27.99%, #ECC47E 80.38%);
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  color: #fff;
}
.dropdown__item:active {
  background: -o-linear-gradient(239deg, #C38B34 27.99%, #ECC47E 80.38%);
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  color: #fff;
}
.dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
  margin-top: 10px;
  border-radius: 0px 0px 2px 2px;
}

.dropdown ul li:hover .dropdown-content {
  display: block;
}/*# sourceMappingURL=style2.css.map */